.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    justify-content: center;
    justify-content: space-around;

}

.main-container {
    margin-top: 1rem;
    height: 9rem;
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin: 1rem;
    width: 100%;
}

.top-cards .main-container.small {
    width: 80%;
    margin: auto;
}

.top-cards .main-container.small .items {
    align-content: space-between;

}

.items {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
}
.user-cards {
    display: flex;
}
.user-cards .item {
    width: 6rem;
    height: 5rem;
    margin: 0.3rem;
}

.item {
    width: 8rem;
    text-align: center;
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: center;;
    justify-content: space-between;
    border: solid 1px #0000004d;
    border-radius: 1rem;
}


.top-cards .main-container.small .items .item {
    height: 7rem;
    width: 7rem;
    margin: auto;
}

.item.red {
    background-color: red;
}

.item.black {
    background-color: rgba(0, 0, 0, 0.326);
}

.item.white {
    border: solid 1px #0000004d;
    border-radius: 1rem;
}

.item.green {
    background-color: rgba(0, 128, 0, 0.425);
}

.item.blue {
    background-color: #0000ff66;
}

.item .bottom-section span {
    /* border: solid 1px black; */
    border-radius: 13rem;
    width: 9rem;
    /* marign: initial; */
    padding: 0.1rem;
}

.item .lable {
    background-color: rgba(250, 235, 215, 0.378);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.item .lable .cards-lvl {
    font-family: 'Combo', cursive;
    font-weight: bold;
    font-size: 1.3rem;
}

.item .bottom-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: auto;
    text-align: left;
    padding-left: 0.4rem;
    padding-bottom: 0.4rem;
}

.item .bottom-section div {
    height: 1.6rem;
}

.kupa {
    font-family: 'Combo', cursive;
    display: flex;
    background-color: orange;
    border: solid 1px #90610b;
    width: 6rem;
    height: 80%;
    width: 7rem;
    border: solid 1px black;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    font-weight: bold;
}

.user-area {
    text-align: center;
}

.container {
    /* Used to position the stacked cards */
    position: relative;
}

.container__card {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Displayed under the container */
    z-index: -1;

    /* Background and border colors */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);

    /* Rotate it. Change the number of degrees for the following cards */
    transform: rotate(5deg);
}